@use '../../abstracts/index' as *;

.taskItem {
    margin-bottom: 15px;

    width: 100%;

    overflow: hidden;

    .checkInput {
        @include flex();

        .checkBtn {
            @include flex();

            border: 1px solid rgba(0, 0, 0, 0.5);
            border-radius: 2px;

            padding: 0;
            margin: 0;

            width: 20px;
            height: 20px;

            transition: background-color 0.3s ease-in-out;

            margin-right: 7px;
        }

        input {
            cursor: pointer;
        }

        &.checked {

            .checkBtn {
                background-color: rgba(0, 0, 0, 0.5);

                border: none;
            }

            input {
                color: rgba(0, 0, 0, 0.5);
            }

            .title {
                color: black;
            }
        }
    }

    .taskDescription {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease, margin-top 0.3s ease;
        pointer-events: none; 
      
        textarea {
          font-size: 12px;
        }

        .checked {
            color: rgba(0, 0, 0, 0.5);
        }
      
        &.show {
          max-height: 200px; 
          opacity: 1;
          pointer-events: auto;
          margin-top: 7px;
        }
    }

    .task {
        @include flex(row, space-between);

        width: 100%;

        .showEdit {

            font-size: 12px;

            transition: transform 0.1s ease-in-out;
        }
    }
    button:active {
        transform: scale(0.9);
    }

}